@import "myVariables.scss";

a, a:hover {
  @include transition();
}
*:before, *:after {
  font-family: 'FontAwesome';  
  }
.ir,
.branding h1 {
text-indent: -9999px;
}
select, 
input[type='text'],
input[type='email'],
textarea {
	border: none;
	border-radius: .75rem;
}
input:focus::-webkit-input-placeholder, 
textarea:focus::-webkit-input-placeholder {
  transition: text-indent 0.5s 0.2s ease;
  text-indent: -100%;
  opacity: 1;
}
ul {
	list-style-type: none;
}
span.small {
	font-size: .75rem;
}//span
.chosen {
  position: relative;
  padding-left: 25px;
  &:before {
  	content: '';
  }
}
.remove {

}
.container	{
	width: 97%;
	max-width: 1200px;
}
.banner{
		position: relative;
		width: 195px;
		height: 50px;	
		padding: 10px 20px 0px 15px;
		color: #fff;
		&:before {
			content: '';
			position: absolute;
			left: 2px;
			top: 0px;
			display: block;
			width: 190px;
			height: 50px;
			background: url(../img/sprites.png) no-repeat 0px -300px;
		}//h2:before
		&:after {
			@include bannerArrow();
			border-right-color: #fff;
			right: 0px; 
			top: 0px;
		}//h2:after
	}//banner
.bubble {
	@include radius(15px);
	padding: 12px 20px;
	color: #fff;
	background: $watermelon url('../img/sprites.png') no-repeat;
	font-family: 'Handlee', cursiva;
	font-size: 1.125rem;
	font-weight: bold;
	line-height: 1.4rem;
	cursor: pointer;
	//@include shadow();
	@include transition();
		&:hover {
			background-color:  darken($watermelon, 15%);
			@include transition();
		}//hover
}//bubble
.pin-link {
	position: relative;
	padding: 7px 25px 7px 43px;
	text-align: left;
	&:before {
		content:'';
		position: absolute;
		top: -5px;
		left: 0px;
		display: block;
		width: 35px;
		height: 63px;
		background: url(../img/sprites.png) no-repeat 0px 0px;
	}//:before
	&:hover {
		background-color:  darken($beige, 15%);
		@include transition();
	}//:hover
}//pin-link
// ======================= //
#topBar {
	a {
		font-size: 0.8rem;
		color: white;
	}// a
	.top-bar-ad {
		position: absolute;
		left: 45%;
		height: 25px;
		line-height: 23px;
		padding: 0px 2em;
		border-bottom-right-radius: 1em;
		border-bottom-left-radius: 1em;
		background-color: $teal;	
		@include shadow(1px);
	}//top-bar-ad
	ul.top-nav {
		margin-right: 1.375rem;
	}//top-nav
	li.top-search {
		padding: 0px 10px;
		label {
			color: white;
			float: left;
			height: 30px;
			line-height: 2;
			margin-right: 0px;
			@include transition(all, 1s);
		}//label
		input[type=text]{
			-webkit-appearance: none;
   		-moz-appearance:    none;
   		appearance:         none;
   		position: relative;
   		float: left;
			width: 0px;
			height: 23px;
			top: 3px;
			background-color: transparent;
			border-radius: 0px;
			border: 0px solid transparent;
			box-shadow: none;
			border-bottom: 2px solid $gray;
			opacity: 0;
			@include transition(all, 1s);
		}//input
		span {
			display: block;
			position: relative;
   		float: left;
			width: 35px;
			height: 23px;
			color: white;
			opacity: 1;
			@include transition(all, 1s);
		  &:before {
				content: '\f002';
        position: absolute;
        left: -7px;
        cursor: pointer;
			}// span:before
		}//span
		&:hover {
			background-color: $orange;
			color: $gray;
			label {
				color: $gray;
				margin-right: 5px;
			}// :hover label
			input[type=text]{
				width: 200px;
				opacity: 100;
				@include transition(all, 1s);
			}// hover input
			span {
				left: 5px;
				color: $gray;
				@include transition(all, 1s);
			}//hover span
		}//hover
	}//li.top-search
} //topBar
// ======================= //
.branding {
	position: relative;
	padding-bottom: 5rem;
	margin-top: -3px;
	background: $teal url(../img/bgd-teal.png) repeat;
	.logo {
		display: inline-block;
		width: 400px;
	}
	h2 {
		padding: 3px 20px;
		color: white;
		font-size: 1.8rem;
	}
	span {
		position: absolute;
		bottom: 0px;
		display: block;
		width: 100%;
		height: 40px;
		background: url(../img/bgd-curtain.png) repeat-x left bottom;
	}
}//branding
.branding.insider {
	padding-bottom: 1rem;
	h1{
		font-size: .75rem;
	}
	.logo {
		width: 300px;
	}
	span {
		background: url(../img/bgd-curtainwh.png) repeat-x left bottom;
	}
}
// ======================== //
#resultsBar {
	height: 40px;
	padding-top: 3px;
	margin-top: 0px;
	color: #ffffff;
	background-color: $gray;
	h5,label {
		color: #ffffff;
	}//h5,label
	#sortBy {
		
	}//sortBy
	li, label {
		font-size: .875rem;
		line-height: 2rem;
	}
	select {
		width: 12rem;
		height: 1.5rem;
		padding: 0px 10px;
		margin: 4px 25px 0px 5px;
	}
	.view-as {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 25px;
		margin-left: 5px;
		font-size: 1.3rem;
		cursor: pointer;
		&:before {
			position: absolute;
			right: 0px;
		}
		a {
			display: block;
		}
	}
	.grid:before {
			content:'\f00a';	
	}
	.list:before {
			content:'\f00b';	
	}
	.viewing:before {
			color: $orange;
		}
}//resultsBar
// ======================== //
#mainResults {
	max-width: 98%;
	margin-top: 10px;
	font-size: 1rem !important;
}//mainResults
aside {
	position: relative; 
	padding-top: 20px;
	background-color: #fff;
	border: 4px solid $gray;
	//@include shadow();
	@include radius();
	h1,h2 {
		font-size: 1.5rem;
	}
	.banner{
		left: -25px;
	}
	#sizeBanner {
		background-color: $watermelon;
		@include transition();
		&:hover {
			background-color:  darken($watermelon, 15%);
			@include transition();
		}//hover
	}//sizeBanner
	#brandBanner {
		background-color: $orange;
		@include transition();
		&:hover {
			background-color:  darken($orange, 15%);
			@include transition();
		}//hover
	}//brandBanner

	ul {
		font-size: .875rem;
	}
}//aside
main {
	.block-container { 
		max-width: 275px;
		&.columns:last-child {
			float: left;
		}
	}//block-container
	.block {
		position: relative;
		width: 100%;
		padding: 1rem;
		margin-bottom: 0.9375rem;
		background-color: #fff;
		border: 4px solid $gray;
		// @include shadow();
		@include radius();
		font-size: .875rem;
		text-align: center;
		&:last-child {
			float: left;
		}//:last child
	}//block
}//main
#searchResults {
	.th, .th:hover {
		box-shadow: none;
	}//th
	li.name {
		height: 80px;
		h6 {
			font-size: 1rem;
			font-family: helvetica;
			line-height: 1rem;
		}
	}//li.name
	a.compare {
		display: block;
		width: 100%;
		height: 80px;
		background-position-x: -195px;
		background-position-y: -305px;
		
	}
}//searchResults
#itemDet{
	height: auto;
	padding: 1rem 0rem 0rem;
	border: 6px solid $gray;
	h3 {
		width: 80%;
		padding-bottom: 1rem;
		margin-bottom: 1rem;
		border-bottom: 2px dotted $yellow;
		text-align: center;
	}//h3
}//itemDet
#itemInfo {
	padding-top: 10px;
	h6, p {
		color: $gray;
		text-align: left;
		font-size: .875rem;
		color: lighten($gray, 20%);
		line-height: 1rem;
	}//mixed
	p {
		line-height: 1.5rem;
		a{
			font-style: italic;
			padding-left: 10px;
		}
	}
	a[data-reveal-id='setAlert'] {
		display: block;
		color: $teal;
		text-align: left;
		&:before {
			content: '\f0a2';
			font-size: 1.2rem;
			padding-right: 7px;
		}
	}
	.bubble {
		position: absolute;
		top: 12rem;
		right: 3rem;
		width: 295px;
		background-position-x: -617px;
		background-position-y: -299px;
		h5 {
			margin-bottom: 0;
		}//h5
		a {
			color: #fff;
			&.buy { 
				font-size: 1.5rem;
				&:after {
					content: '\f0a9';
					padding-left: 5px;
				}
			}	
	}//bubble
		}
}//itemInfo
#itemChart {
	position: relative;
	padding-bottom: 20px;
	background-color: $gray;
	&:before {
		content: '';
		position: absolute;
		top: 0px;
		left: 0px;
		display: block;
		width: 100%;
		height: 18px;
		background: #ffffff url('../img/bgd-curtain.png') repeat-x ;
	}//:itemChart:before
}//itemChart
#options {
			margin: 0px;
			padding-top: 30px;
			label, a {
				color: #fff;
			}//multi
			h5, h6 {
				color: $yellow;
			}
			h5 {
				float: left;
				line-height: 1.1rem;
				
			}//h5
			h6 {
				font-family: 'Handlee', cursive;
				&:after {
					content: '\f0a4';
					padding-left: 10px;
					color: $teal;
				}
			}
			form {
				padding: 0px 0px 0px 10px;
				font-size: .875rem;
				&:after {
				content: '\f142';
				padding-left: 10px;
				color: $teal;
			}
				& > * {
					float: left;
				} //form > *
			}//form
			label {
				line-height: 1.6rem;
				margin: 0rem .25rem 0rem .75rem;
			}//label
			select {
				width: 47px;
				height: 25px;
				padding: 0px .5rem;
			}//select
		}//options
#inMember {
	ul {
		margin-left: 0px;
	}
	li {
		position: relative;
		padding-left: 14px;
		color: #fff;
		font-size: .85rem;
		line-height: 1.6rem;
		cursor: pointer;
		&:before {
			content: '\f10c';
			position: absolute;
			top: 0px;
			left: 0px;
		}//li:before
	}//li
	li.active {	
		&:before {
			content: '\f05d';
		}//li:before
	}//li.active
}
#priceComparison {
	margin: 0rem;
	@include radius();
	// background-color: #fff;
	// border: 4px solid $yellow;
}//priceComparison
#pcList{
	width: 95%;
	margin: 0px auto;
	.pricing-table {
		border-radius: 15px;
		border: none;
		.title {
			height: 70px;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			background-color: $yellow;
			color: $gray;
			vertical-align: center;
		}//title
		.price {
			color: $gray;
			// background-color: $beige;
			font-weight: bold;
			background-color: #fff;
		}//price
		.cta-button {
			border-bottom-left-radius: 15px;
			border-bottom-right-radius: 15px;
			background-color: $beige;
			a{
				padding: 1rem;
				background-color: $orange;
				&:hover {
					background-color: $watermelon;
				}//a:hover
			}//a
		}//cta-button
		&.best {
			position: relative;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				width: 100px;
				height: 100px;
				background: url('../img/sprites.png') no-repeat -480px -300px;
			}
			.title {
				background-color: $orange;
			}
			a {
				background-color: $watermelon;
				&:hover {
				background-color:  darken($watermelon, 15%);
				}//a:hover
			}//a
		}//best
	}//pricing-table
}
#moreDetails {
	padding: 3rem;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background-color: #fff;
	text-align: left;
}//moreDetails
// ======================== //
footer {
	background: $gray url('../img/bgd-doodles.png') repeat;
	padding: 0px;
	margin-top: 50px;
	h3, a, p {
		color: #fff;
	}//h4,a
	#footer-top {
		padding-top: 30px;
		h3 {
			position: relative;
			border-bottom: 2px dotted $teal;
			margin-bottom: 2rem;
			padding-left: 50px;
			&:before {
				content: '';
				position: absolute;
				left: 0px;
				top: -6px;
				display: block;
				height: 3rem;
				width: 3rem;
				background: url('../img/sprites.png') no-repeat;
			}//before
		}//h3
		#why:before {
			background-position: -213px -305px;
		}//why
		#contactus:before {
			background-position: -283px -307px;
		}//contactus
	}	//footer-top
	#storesCarousel {
		position: relative;
		padding: 15px;
		padding-bottom: 25px;
		background-color: transparentize(#000, 0.50);
		@include radius();
		&:after {
			content: '';
			position: absolute;
			bottom: 0px;
			left: 50%;
			color: $orange;
		}//after
		&.activeCarousel:after {
			content: '\f04c';
		}//active:after
		&.pausedCarousel:after {
			content: '\f04b';
		}//paused:after
		.slick-slide {
			opacity: 0.8;
			&.slick-center {
				opacity: 1;
				transform: scale(1.08);
			}//slick-center
		}//slick-slide
	}//storesCarousel
	form {
		textarea, input[type='text'], input[type='email']  {
			height: 1.75rem;
			opacity: 0.8;
		}
		textarea:focus, input[type='text']:focus, input[type='email']:focus  {
			border: 2px solid $orange;
			opacity: 1;
		}
		input[type='submit'] {
			float: right;
			background-color:  transparentize(#000, 0.50);; 
			&:hover {
				background-color: $orange;	
			}
		}
	}//form
	nav {
		padding: 20px;
		background-color: transparentize(#000, 0.50);
		text-align: center;
		h6, a {
			color: $teal;
			&:hover {
				color: $yellow;
			}
		}
		ul {
			display: inline-block;
		}
		li {
			position: relative;
			padding-right: 20px;
			font-family: 'Handlee', cursive;
			font-size: 1rem;
			&:after {
				content: '\f142';
				position: absolute;
				top: 0px;
				right: 0px;
				color: $watermelon;
			}
			&:last-child:after {
				content: '';
			}	
		}
	}//footer-nav
}//footer
//=========================//
.reveal-modal {
	border: 4px solid $orange;
	@include radius();
}
#setAlert{
	width: 300px;
	
	input[type='checkbox']{}
}
#comboInput {
	input[type='text'] {
		-webkit-appearance: none;
   	-moz-appearance:    none;
   		appearance:         none;
	}
}

 		